body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../商品详细页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:984px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:990px;
}

.u1 {
    position:absolute;
    left:2px;
    top:484px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../bar_files/u4_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../商品详细页_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:49px;
    width:320px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../商品详细页_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:20px;
    width:320px;
    height:44px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u8 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../商品详细页_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:-1px;
    top:27px;
    width:30px;
    height:30px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:39px;
    top:28px;
    width:225px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_container {
    position:absolute;
    left:14px;
    top:124px;
    width:289px;
    height:347px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:289px;
    height:347px;
}

.u13 {
    position:absolute;
    left:2px;
    top:166px;
    width:285px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:14px;
    top:74px;
    width:289px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:55px;
    top:505px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:130px;
    top:506px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../商品详细页_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:64px;
    height:3px;
}

.u17 {
    position:absolute;
    left:130px;
    top:509px;
    width:64px;
    height:10px;
    
}

.u18_normal {
    background-image: url('../商品详细页_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:14px;
    top:589px;
    width:255px;
    height:35px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:41px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:251px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:103px;
    top:529px;
    width:38px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:14px;
    top:505px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:14px;
    top:531px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u24_container {
    position:absolute;
    left:151px;
    top:529px;
    width:38px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:199px;
    top:529px;
    width:38px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u28_container {
    position:absolute;
    left:247px;
    top:529px;
    width:38px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u30_container {
    position:absolute;
    left:55px;
    top:559px;
    width:38px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u32_container {
    position:absolute;
    left:103px;
    top:559px;
    width:38px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u34_container {
    position:absolute;
    left:151px;
    top:559px;
    width:38px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u36_container {
    position:absolute;
    left:199px;
    top:559px;
    width:38px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u38_container {
    position:absolute;
    left:55px;
    top:529px;
    width:38px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../商品详细页_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u40 {
    position:absolute;
    left:0px;
    top:562px;
    width:320px;
    height:10px;
    
}

.u41_normal {
    background-image: url('../商品详细页_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:321px;
    top:560px;
    width:32px;
    height:14px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:20px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-1px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:355px;
    top:560px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../商品详细页_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:14px;
    top:470px;
    width:288px;
    height:21px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:27px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../商品详细页_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:130px;
    top:473px;
    width:15px;
    height:15px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../商品详细页_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:145px;
    top:473px;
    width:15px;
    height:15px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../商品详细页_files/u46_normal.png');
}

.u50_container {
    position:absolute;
    left:160px;
    top:473px;
    width:15px;
    height:15px;-webkit-transform: rotate(293deg);
    -moz-transform: rotate(293deg);
    -ms-transform: rotate(293deg);
    transform: rotate(293deg);

}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../商品详细页_files/u46_normal.png');
}

.u52_container {
    position:absolute;
    left:175px;
    top:473px;
    width:15px;
    height:15px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u53 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../商品详细页_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:285px;
    top:31px;
    width:24px;
    height:24px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u56_container {
    position:absolute;
    left:158px;
    top:934px;
    width:80px;
    height:50px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u57 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u58_container {
    position:absolute;
    left:-2px;
    top:934px;
    width:80px;
    height:50px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u59 {
    position:absolute;
    left:2px;
    top:9px;
    width:76px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u60_container {
    position:absolute;
    left:78px;
    top:934px;
    width:80px;
    height:50px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u61 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u62_container {
    position:absolute;
    left:238px;
    top:934px;
    width:80px;
    height:50px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u63 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../foot_files/u34_normal.png');
}

.u64_container {
    position:absolute;
    left:26px;
    top:940px;
    width:24px;
    height:24px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:-2px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../foot_files/u37_normal.png');
}

.u67_container {
    position:absolute;
    left:186px;
    top:940px;
    width:24px;
    height:24px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:158px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../foot_files/u40_normal.png');
}

.u70_container {
    position:absolute;
    left:268px;
    top:940px;
    width:24px;
    height:24px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:238px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../foot_files/u43_normal.png');
}

.u73_container {
    position:absolute;
    left:106px;
    top:940px;
    width:24px;
    height:24px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:78px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../商品详细页_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:279px;
    top:595px;
    width:24px;
    height:24px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u78 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:14px;
    top:642px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../商品详细页_files/u0_normal.png');
}

.u80_container {
    position:absolute;
    left:467px;
    top:0px;
    width:320px;
    height:984px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:990px;
}

.u81 {
    position:absolute;
    left:2px;
    top:484px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../bar_files/u4_normal.png');
}

.u82_container {
    position:absolute;
    left:467px;
    top:0px;
    width:321px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../商品详细页_files/u5_normal.png');
}

.u85_container {
    position:absolute;
    left:467px;
    top:49px;
    width:320px;
    height:15px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:21px;
}

.u86 {
    position:absolute;
    left:2px;
    top:0px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../商品详细页_files/u7_normal.png');
}

.u87_container {
    position:absolute;
    left:467px;
    top:20px;
    width:320px;
    height:44px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u88 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../商品详细页_files/u9_normal.png');
}

.u89_container {
    position:absolute;
    left:466px;
    top:27px;
    width:30px;
    height:30px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u90 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:506px;
    top:28px;
    width:225px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_container {
    position:absolute;
    left:481px;
    top:124px;
    width:289px;
    height:347px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:289px;
    height:347px;
}

.u93 {
    position:absolute;
    left:2px;
    top:166px;
    width:285px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:481px;
    top:74px;
    width:289px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:522px;
    top:505px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:597px;
    top:506px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_line {
    background-image: url('../商品详细页_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:0px;
    top:4px;
    width:64px;
    height:3px;
}

.u97 {
    position:absolute;
    left:597px;
    top:509px;
    width:64px;
    height:10px;
    
}

.u98_normal {
    background-image: url('../商品详细页_files/u18_normal.png');
}

.u98_container {
    position:absolute;
    left:481px;
    top:589px;
    width:255px;
    height:35px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:41px;
}

.u99 {
    position:absolute;
    left:2px;
    top:8px;
    width:251px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u100_container {
    position:absolute;
    left:570px;
    top:529px;
    width:38px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:481px;
    top:505px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:481px;
    top:531px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u104_container {
    position:absolute;
    left:618px;
    top:529px;
    width:38px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u106_container {
    position:absolute;
    left:666px;
    top:529px;
    width:38px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u108_container {
    position:absolute;
    left:714px;
    top:529px;
    width:38px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u110_container {
    position:absolute;
    left:522px;
    top:559px;
    width:38px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u112_container {
    position:absolute;
    left:570px;
    top:559px;
    width:38px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u114_container {
    position:absolute;
    left:618px;
    top:559px;
    width:38px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u116_container {
    position:absolute;
    left:666px;
    top:559px;
    width:38px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../商品详细页_files/u20_normal.png');
}

.u118_container {
    position:absolute;
    left:522px;
    top:529px;
    width:38px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_line {
    background-image: url('../商品详细页_files/u120_line.png');
}

.u120_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u120 {
    position:absolute;
    left:467px;
    top:562px;
    width:320px;
    height:10px;
    
}

.u121_normal {
    background-image: url('../商品详细页_files/u44_normal.png');
}

.u121_container {
    position:absolute;
    left:481px;
    top:470px;
    width:288px;
    height:21px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:294px;
    height:27px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../商品详细页_files/u46_normal.png');
}

.u123_container {
    position:absolute;
    left:597px;
    top:473px;
    width:15px;
    height:15px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u124 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../商品详细页_files/u48_normal.png');
}

.u125_container {
    position:absolute;
    left:612px;
    top:473px;
    width:15px;
    height:15px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u126 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../商品详细页_files/u46_normal.png');
}

.u127_container {
    position:absolute;
    left:627px;
    top:473px;
    width:15px;
    height:15px;-webkit-transform: rotate(293deg);
    -moz-transform: rotate(293deg);
    -ms-transform: rotate(293deg);
    transform: rotate(293deg);

}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u128 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../商品详细页_files/u46_normal.png');
}

.u129_container {
    position:absolute;
    left:642px;
    top:473px;
    width:15px;
    height:15px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u130 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../商品详细页_files/u54_normal.png');
}

.u131_container {
    position:absolute;
    left:752px;
    top:31px;
    width:24px;
    height:24px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u132 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u133_container {
    position:absolute;
    left:625px;
    top:934px;
    width:80px;
    height:50px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u134 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u135_container {
    position:absolute;
    left:465px;
    top:934px;
    width:80px;
    height:50px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u136 {
    position:absolute;
    left:2px;
    top:9px;
    width:76px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u137_container {
    position:absolute;
    left:545px;
    top:934px;
    width:80px;
    height:50px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u138 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u139_container {
    position:absolute;
    left:705px;
    top:934px;
    width:80px;
    height:50px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u140 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../foot_files/u34_normal.png');
}

.u141_container {
    position:absolute;
    left:493px;
    top:940px;
    width:24px;
    height:24px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u142 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:465px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../foot_files/u37_normal.png');
}

.u144_container {
    position:absolute;
    left:653px;
    top:940px;
    width:24px;
    height:24px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u145 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:625px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../foot_files/u40_normal.png');
}

.u147_container {
    position:absolute;
    left:735px;
    top:940px;
    width:24px;
    height:24px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u148 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:705px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../foot_files/u43_normal.png');
}

.u150_container {
    position:absolute;
    left:573px;
    top:940px;
    width:24px;
    height:24px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u151 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:545px;
    top:964px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../商品详细页_files/u77_normal.png');
}

.u154_container {
    position:absolute;
    left:746px;
    top:595px;
    width:24px;
    height:24px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u155 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:481px;
    top:642px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../商品详细页_files/u41_normal.png');
}

.u157_container {
    position:absolute;
    left:433px;
    top:560px;
    width:32px;
    height:14px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:20px;
}

.u158 {
    position:absolute;
    left:2px;
    top:-1px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../商品详细页_files/u159_normal.png');
}

.u159_container {
    position:absolute;
    left:753px;
    top:34px;
    width:23px;
    height:19px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:19px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../商品详细页_files/u159_normal.png');
}

.u161_container {
    position:absolute;
    left:285px;
    top:31px;
    width:23px;
    height:19px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:19px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:14px;
    top:668px;
    width:72px;
    height:240px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:80px;
    top:668px;
    width:229px;
    height:256px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:481px;
    top:668px;
    width:72px;
    height:240px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:547px;
    top:668px;
    width:229px;
    height:256px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

