body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../品牌_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:570px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:576px;
}

.u1 {
    position:absolute;
    left:2px;
    top:277px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../品牌_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:20px;
    width:321px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../bar_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:74px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../品牌_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:300px;
    top:74px;
    width:20px;
    height:400px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:406px;
}

.u9 {
    position:absolute;
    left:2px;
    top:11px;
    width:16px;
    height:378px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../品牌_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:20px;
    width:320px;
    height:44px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:61px;
    top:29px;
    width:200px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../品牌_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:277px;
    height:3px;
}

.u13 {
    position:absolute;
    left:13px;
    top:90px;
    width:277px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:20px;
    top:106px;
    width:270px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:20px;
    top:302px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../品牌_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:277px;
    height:3px;
}

.u16 {
    position:absolute;
    left:13px;
    top:318px;
    width:277px;
    height:10px;
    
}

.u17_line {
    background-image: url('../品牌_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u17 {
    position:absolute;
    left:20px;
    top:125px;
    width:270px;
    height:10px;
    
}

.u18_line {
    background-image: url('../品牌_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u18 {
    position:absolute;
    left:20px;
    top:159px;
    width:270px;
    height:10px;
    
}

.u19_line {
    background-image: url('../品牌_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u19 {
    position:absolute;
    left:20px;
    top:189px;
    width:270px;
    height:10px;
    
}

.u20_line {
    background-image: url('../品牌_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u20 {
    position:absolute;
    left:20px;
    top:223px;
    width:270px;
    height:10px;
    
}

.u21_line {
    background-image: url('../品牌_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u21 {
    position:absolute;
    left:20px;
    top:254px;
    width:270px;
    height:10px;
    
}

.u22_line {
    background-image: url('../品牌_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u22 {
    position:absolute;
    left:20px;
    top:288px;
    width:270px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:20px;
    top:331px;
    width:270px;
    height:176px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../品牌_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u24 {
    position:absolute;
    left:20px;
    top:350px;
    width:270px;
    height:10px;
    
}

.u25_line {
    background-image: url('../品牌_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u25 {
    position:absolute;
    left:20px;
    top:384px;
    width:270px;
    height:10px;
    
}

.u26_line {
    background-image: url('../品牌_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u26 {
    position:absolute;
    left:20px;
    top:414px;
    width:270px;
    height:10px;
    
}

.u27_line {
    background-image: url('../品牌_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u27 {
    position:absolute;
    left:20px;
    top:448px;
    width:270px;
    height:10px;
    
}

.u28_line {
    background-image: url('../品牌_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:270px;
    height:3px;
}

.u28 {
    position:absolute;
    left:20px;
    top:479px;
    width:270px;
    height:10px;
    
}

.u29_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u29_container {
    position:absolute;
    left:160px;
    top:520px;
    width:80px;
    height:50px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u30 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:520px;
    width:80px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:9px;
    width:76px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u33_container {
    position:absolute;
    left:80px;
    top:520px;
    width:80px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u34 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../foot_files/u26_normal.png');
}

.u35_container {
    position:absolute;
    left:240px;
    top:520px;
    width:80px;
    height:50px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u36 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../foot_files/u34_normal.png');
}

.u37_container {
    position:absolute;
    left:28px;
    top:526px;
    width:24px;
    height:24px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:0px;
    top:550px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../foot_files/u37_normal.png');
}

.u40_container {
    position:absolute;
    left:188px;
    top:526px;
    width:24px;
    height:24px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:160px;
    top:550px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../foot_files/u40_normal.png');
}

.u43_container {
    position:absolute;
    left:270px;
    top:526px;
    width:24px;
    height:24px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:240px;
    top:550px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../foot_files/u43_normal.png');
}

.u46_container {
    position:absolute;
    left:108px;
    top:526px;
    width:24px;
    height:24px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:80px;
    top:550px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../品牌_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:80px;
    top:520px;
    width:80px;
    height:50px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u51 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

